.questionCard {
  .options {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    gap: 1em;
    margin-top: 50px;

    label {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      text-transform: unset;
      cursor: pointer;
      margin: 0;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: flex;
      width: 100%;

      b {
        margin-right: 5px;
      }
    }

    /* Hide the browser's default radio button */
    label input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 900px) {
  .questionCard {
    .options {
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: repeat(2, 50%);
    }
  }
}
